* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #111;
    color: #ddd;
}



.page-container {
    
}
.page-header {
    margin-top: 1rem;
}

.page-title {

}

.page-title h1 {
    color: rgb(115, 180, 223);
    text-align: center;
}







#mainSpreadChatMenu {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 60px;
    background-color: #dddddd34;
    box-shadow: inset 0 0 50px #ffffff34, inset 0 0 22px rgba(115, 180, 223, 0.664);
    backdrop-filter: blur(4px);
    border-top: inset 3px #ffffff77;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}



.call-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100dvh;
    background-color: #3d3d3d6c;
    backdrop-filter: blur(8px);
    z-index: 99999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.call-modal a {
    color: rgb(115, 180, 223);
    font-size: 2rem;
    text-decoration: none;
}

.call-modal>a>img {
    border: solid 3px #35b14b;
    border-radius: 1rem;
    background-color: #11111175;
    backdrop-filter: blur(8px);
    box-shadow: inset 0 0 10px #35b14b, 0 0 30px #35b14c46;
    padding: 0.75rem;
    max-width: 75px;
    max-height: 75px;
    filter: drop-shadow(0 0 1px #11111177);
}

#remoteFoundation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100dvh;
    border: solid 1px rgba(115, 180, 223, 0.63);
    box-shadow: 0 0 30px 10px rgb(115, 180, 223), inset 0 0 8px 6px rgba(115, 180, 223, 0.404);
    border-radius: 0.75rem;
    z-index: 9999;
    background-color: #111;
}

.remote-video {
    width: 90%;
    height: 95%;
    background-color: #55555548;
    border-radius: 1rem;
    position: fixed;
    box-shadow: 0 0 6px 3px rgba(115, 180, 223, 0.63);
    top: 2rem;
    left: 1.75rem;
    width: 20vw;
    height: 20vh;
    border: solid 1px rgba(115, 180, 223, 0.377);
    background-color: #00000046;
    backdrop-filter: blur(8px);
    border-radius: 1rem;
    z-index: 10999;
    box-shadow: inset 0 0 10px 2px rgba(115, 180, 223, 0.25), 0 12px 12px 4px #00000057;
}
.local-video {
}

.remote-user {
    background-color: rgba(115, 180, 223, 0.25);
    box-shadow: inset 0 0 20px 8px rgba(115, 180, 223, 0.25), 0 0 10px 4px rgba(115, 180, 223, 0.25);
    position: fixed;
    top: 50%;
    left: 50%;
    width: 80%;
    transform: translate(-50%, -50%);
    padding: 1rem;
    border-radius: 1rem;
    font-size: 2rem;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 4rem;
}