<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SpreadChat Video || WideSpread</title>
    <link rel="stylesheet" href="/style/spreadchat.css">

    <!-- <script src="https://unpkg.com/peerjs@1.5.4/dist/peerjs.min.js"></script> -->
    <!-- <script src="/socket.io/socket.io.js"></script> -->
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/peerjs/1.5.4/peerjs.min.js"></script>
    <script src="https://cdn.socket.io/4.7.5/socket.io.min.js" integrity="sha384-2huaZvOR9iDzHqslqwpR87isEmrfxqyWOF7hr7BY6KG0+hVKLoEXMPUJw3ynWuhO" crossorigin="anonymous"></script>


    <script src="/logic/spreadchat.js" defer></script>
</head>
<body>

    <div class="container">
        <div id="myId"></div>

        <div class="local-video-container">
            <h2>Your Video</h2>
            <video id="localVideo" src="/media/video/test/1.mp4" loop autoplay playsinline muted></video>
        </div>
        <div class="remote-video-container">
            <h2>Remote Video</h2>
            <video id="remoteVideo" src="/media/video/test/6.mp4" loop autoplay playsinline muted></video>
        </div>


        <div class="call-controls">
            <div class="call-control">
                <img src="/media/image/system/icon/phone/call.png" alt="Initiate Call Icon">
            </div>
            <div class="call-control">
                <img src="/media/image/system/icon/phone/call-end.png" alt="End Call Icon">
            </div>
        </div>

    </div>






</body>
</html>