<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SpreadChat Video || WideSpread</title>
    <link rel="stylesheet" href="/style/spreadchat.css">
    <script src="/logic/spreadchat.js" defer></script>
</head>
<body>

    <div class="container">
        <div id="myId"></div>

        <div class="local-video-container">
            <h2>Your Video</h2>
            <video id="localVideo" autoplay playsinline muted></video>
        </div>
        <div class="remote-video-container">
            <h2>Remote Video</h2>
            <video id="remoteVideo" autoplay playsinline></video>
        </div>


        <div class="call-controls">
            <div class="call-control">
                <img src="/media/image/system/icon/phone/call.png" alt="Initiate Call Icon">
            </div>
            <div class="call-control">
                <img src="/media/image/system/icon/phone/call-end.png" alt="End Call Icon">
            </div>
        </div>

    </div>


</body>
</html>