<style>

</style>


<div class="page-container">
    <div class="page-upper-menu">

    </div>
    <div class="page-header">
        <div class="page-title">
            <h1><%= pageTitle %></h1>
            <h6><a href="/">SpreadChat Home</a></h6>
            <h6><a href="/video">SpreadChat Video Home</a></h6>
        </div>
    </div>

    <div class="page-body">
        <div class="page-body-header">
            <h5>Waiting for <%= jonName %> to connect...</h5>
        </div>
        <div class="page-body-data">
            <div id="remoteFoundation">
                <video class="remote-video" id="remoteFeed" src="" playsinline autoplay ></video>
                <div class="remote-user">
                    <span>Waiting for <br/><%= jonName %></span>
                </div>
            </div>
            <div id="localFoundation">
                <video class="local-video" id="localFeed" src="" muted autoplay ></video>
            </div>
        </div>
    </div>
    <div class="page-lower-menu">
        <div class="call-otion-item">
            <span>Camera Off</span>
        </div>
        <div class="call-otion-item">
            <span>End</span>
        </div>
    </div>

</div>

<script>

</script>