<style>

</style>


<div class="page-container">
    <div class="page-upper-menu">

    </div>
    <div class="page-header">
        <div class="page-title">
            <h1><%= pageTitle %></h1>
            <h6><a href="/">SpreadChat Home</a></h6>
            <h6><a href="/video">SpreadChat Video Home</a></h6>
        </div>
    </div>

    <div class="page-body">
        <div class="page-body-header">
        </div>
        <div class="page-body-data">
            <div id="remoteFoundation">
                <video id="remoteFeed" src="" controls playsinline></video>
            </div>
            <div id="localFoundation">
                <video id="localFeed" controls src="" muted></video>
            </div>
        </div>
    </div>
    <div class="page-lower-menu">
        <div class="call-otion-item">
            <span>Camera Off</span>
        </div>
        <div class="call-otion-item">
            <span>End</span>
        </div>
    </div>

</div>

<script>

</script>